extends layout.pug

block sidenav
  include sidenav-adm.pug

block content
  .row
    .col.s12.m12
      .card
        .card-content
          span.card-title Consultar Clientes
            form.wrapper-search-input(action="/buscar-nome" method="get")
              input(type="text" name="busca")
              button.btn.waves-effect.orange.waves-light(type="submit")
                | Buscar
                i.material-icons.right send
            form(action="/listar-todos" method="get")
              button.btn.waves-effect.orange.waves-light
                | Listar todos
                i.material-icons.right send

          if query.length
        ul.collapsible(data-collapsible="accordion")
          each user in query
            li
              .collapsible-header
                .avatar
                  img.circle(src=user.avatar alt="")
                .info
                    span #{user.nome}
                    p
                    | #{user.email}
                    br
                    | #{user.cpf}
              .collapsible-body
                form(action="")
                  .row                     
                    .input-field.black-text.col.m6.s12
                      input#cliente(type="email" data-length="14" value=user.email)
                      label(for="email") Email

                    .input-field.black-text.col.m6.s12
                      input#senha1(type="password" value=user.senha)
                      label(for="senha1") Senha
                    
                    .input-field.black-text.col.m6.s12
                      input#nome(type="text" data-length="14" value=user.nome)
                      label(for="nome") Nome

                    .input-field.black-text.col.m6.s12
                      input#cpf(type="text" data-length="14" value=user.cpf)
                      label(for="cpf") CPF
                    
                    .input-field.black-text.col.m6.s12
                      input#cep(type="text" data-length="14" value=user.cep)
                      label(for="cep") CEP

                    .input-field.black-text.col.m6.s12
                      input#logradouro(type="text" data-length="14" value=user.logradouro)
                      label(for="lagradouro") Logradouro
                    
                    .input-field.black-text.col.m6.s12
                      input#bairro(type="text" data-length="14" value=user.bairro)
                      label(for="bairro") Bairro
                    
                    .input-field.black-text.col.m6.s12
                      input#cidade(type="text" data-length="14" value=user.cidade)
                      label(for="cidade") Cidade
                    
                    .input-field.black-text.col.m6.s12
                      input#estado(type="text" data-length="14" value=user.estado)
                      label(for="estado") Estado

                    .input-field.black-text.col.m6.s12
                      input#telefone(type="text" data-length="14" value=user.telefone)
                      label(for="telefone") Telefone

                  button.btn.waves-effect.waves-light.orange(type="submit" name="action")
                    | Atualizar
                    i.material-icons.right send

  style.
    .wrapper-search-input{
      display: flex;
      flex-direction: row;
    }

    .avatar img{
      height: 55px;
    }

    .info{
      padding-left: 15px;
    }